body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Garamond, serif",
    monospace;
}

.aboutme {
  text-shadow: 0 0 3px #2189dc, 0 0 5px #0000ff;
  font-family: Garamond, serif;
  text-align: center;
}

div {
  font-family: Garamond, serif;
}
